PORT = 5000
TIMEOUT = 5000
ALLOWED_ORIGIN = http://localhost:3000
NODE_ENV = dev
TEMPERATURE_2M_MAX = 30
TEMPERATURE_2M_MIN = 10
PRECIPITATION_SUM = 0.0
WIND_SPEED_10M_MAX = 18
WEATHER_URL = https://api.open-meteo.com/v1/forecast?latitude={lat}&longitude={lon}&daily=temperature_2m_max,temperature_2m_min,precipitation_sum,wind_speed_10m_max&forecast_days={n}&timezone=auto
RATE_LIMIT_WINDOW = 900000
RATE_LIMIT_MAX = 100
API_VERSION = 1